{% load static %}
  <!--Pop Up Overlay Start-->
  <!--<div id="popup-overlay">
    <div class="container">
      <div id="popup" class="cp-popup-holder">
        <div class="cp-inner"> <a href="#" id="popup-close"><i class="fa fa-close"></i></a>
          <h2>Newsletter</h2>
          <strong class="title">Our Newsletter</strong>
          <p>Subscribe to the <span>Church mailing</span> list to receive updates on new arrivals, offers and other discount information.</p>
          <form method="post">
            <input type="text" placeholder="Email">
            <button class="subscribe" type="submit">Subscribe</button>
            <input type="checkbox" value="">
            Don't show it again<br>
          </form>
        </div>
      </div>
    </div>
  </div>-->
  <!--Pop Up Overlay End-->
  
  <!--BANNER START-->
  <div id="banner">
    <div id="home-banner" class="owl-carousel owl-theme">
      <div class="item"> <img src="{% static 'images/banner-img-1 copy.jpg' %}" alt="img">
        <div class="caption">
          <div class="container"> <!--<span>nO ONE COMES TO THE fATHER EXCEPT THROUGH ME.</span>-->
            <!--<h1>I AM THE WAY, THE TRUTH</h1>-->
            <div class="btn-row"> <a href="sermons-grid.html" class="btn-style-1">Sermon Series</a> </div>
          </div>
        </div>
      </div>
      <div class="item"> <img src="{% static 'images/banner-img-2 copy.jpg' %}" alt="img">
        <div class="caption">
          <div class="container"> <!--<span>nO ONE COMES TO THE fATHER EXCEPT THROUGH ME.</span>-->
            <!--<h1>I AM THE WAY, THE TRUTH</h1>-->
            <div class="btn-row"> <a href="sermons-grid.html" class="btn-style-1">Sermon Series</a> </div>
          </div>
        </div>
      </div>
      <div class="item"> <img src="{% static 'images/banner-img-3 copy.jpg' %}" alt="img">
        <div class="caption">
          <div class="container"> <!--<span>nO ONE COMES TO THE fATHER EXCEPT THROUGH ME.</span>-->
            <!--<h1>I AM THE WAY, THE TRUTH</h1>-->
            <div class="btn-row"> <a href="sermons-grid.html" class="btn-style-1">Sermon Series</a> </div>
          </div>
        </div>
      </div>
	  <div class="item"> <img src="{% static 'images/banner-img-4.jpg' %}" alt="img">
        <div class="caption">
          <div class="container"> <!--<span>nO ONE COMES TO THE fATHER EXCEPT THROUGH ME.</span>-->
            <!--<h1>I AM THE WAY, THE TRUTH</h1>-->
            <div class="btn-row"> <a href="sermons-grid.html" class="btn-style-1">Sermon Series</a> </div>
          </div>
        </div>
      </div>
		<div class="item"> <img src="{% static 'images/banner-img-5.jpg' %}" alt="img">
        <div class="caption">
          <div class="container"> <!--<span>nO ONE COMES TO THE fATHER EXCEPT THROUGH ME.</span>-->
            <!--<h1>I AM THE WAY, THE TRUTH</h1>-->
            <div class="btn-row"> <a href="sermons-grid.html" class="btn-style-1">Sermon Series</a> </div>
          </div>
        </div>
      </div>
		<div class="item"> <img src="{% static 'images/banner-img-6.jpg' %}" alt="img">
        <div class="caption">
          <div class="container"> <!--<span>nO ONE COMES TO THE fATHER EXCEPT THROUGH ME.</span>-->
            <!--<h1>I AM THE WAY, THE TRUTH</h1>-->
            <div class="btn-row"> <a href="sermons-grid.html" class="btn-style-1">Sermon Series</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--BANNER END-->
  