   {% load static %}
   <!-- HOME BLOG SECTION START-->
    <section class="home-blog">
        <div class="container">
          <div class="heading-center">
            <h2>From The Blog</h2>
            <span><b><em>Here Our Latest New</em></b>s</span> </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="blog-style-1"> <a href="blog-detail.html" class="title">The Lord, GOD Of Our Lifes</a> <span>6/26 S/2016 . Category Religion</span>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pharetra risus in elit luctus, sit a mollis...{+}</p>
                <div class="round-frame"><img src="{% static 'images/blog-style-1-img-1.jpg' %}" alt="img"></div>
                <strong class="name">Rona Thanki</strong> </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-style-1"> <a href="blog-detail.html" class="title">Reaching Kids Education</a> <span>6/26 S/2016 . Category Religion</span>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pharetra risus in elit luctus, sit a mollis...{+}</p>
                <div class="round-frame"><img src="{% static 'images/blog-style-1-img-2.jpg' %}" alt="img"></div>
                <strong class="name">Jeena Kate</strong> </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-style-1"> <a href="blog-detail.html" class="title">Service Day: A Family Affair!</a> <span>6/26 S/2016 . Category Religion</span>
                <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit....{+}</p>
                <div class="round-frame"><img src="{% static 'images/blog-style-1-img-3.jpg' %}" alt="img"></div>
                <strong class="name">David Issiq</strong> </div>
            </div>
          </div>
          <div class="btn-row"><a href="{% url 'blog' %}" class="btn-style-1">View All Posts</a></div>
        </div>
      </section>
      <!--HOME BLOG SECTION END  -->
    </div>
  </div>
  <!--WRAPPER END--> 
   <!--FOOTER START-->
   <main>
    