    {% load static %}

<script src="{% static 'js/jquery.js' %}"></script> 
<!--BOOTSTRAP JS--> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<!--Map Js--> 
<script src="{% static 'http://maps.google.com/maps/api/js?sensor=false' %}"></script> 
<!--SCROLL FOR SIDEBAR NAVIGATION--> 
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script> 
<!--OWL CAROUSEL--> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<!--COUNTDOWN JS--> 
<script src="{% static 'js/kinetic.js' %}"></script> 
<script src="{% static 'js/jquery.final-countdown.js' %}"></script> 
<!--MP3 Player JS--> 
<script src="{% static 'js/audioplayer.js' %}"></script> 
<!--CUSTOM JS--> 
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>