{% extends "components/Main.html" %}
{% load static %}
{% block content %}
 <!--INNER BANNER START-->
 <div id="inner-banner">
    <div class="container">
      <div class="inner-banner-heading">
        <h1>About us</h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">About us</li>
        </ol>
      </div>
    </div>
  </div>
  <!--INNER BANNER END-->
  
  <div id="main"> 
    <!--ABOUT PAGE START-->
    <section class="about-style-1">
      <div class="container">
        <div class="col-md-6 col-sm-6">
          <div class="text-box">
            <div class="heading-left">
              <h2>welcome to Victory Tabernacle</h2>
              <span>WE LIVE TO PRAISE HIM</span> </div>
            <p>Welcome to Victory Tabernacle International Ministries Inc., where our vision is to reach the lost with the message of love, acceptance and victory through Jesus Christ. We are committed to the teaching of the Word of God with simplicity and understanding. Our passion is to help people from all walks of life to discover their value and potential in God and equipping them to effectively reach others. We are glad that you want to be a part of what God is doing through our ministry.</p>
            <div class="schedule-outer">
              <div class="schedule-box"> <strong class="title">Service Time</strong>
                <p>Sunday Service: 10:00am - 12:30pm</p>
                <p> Friday Prayer Meeting: 7:00pm - 8:00pm &nbsp;</p>
              </div>
              <div class="schedule-box pull-right"> <strong class="title">Location</strong>
                <p>6955 Oak Ridge Parkway, Suite 101, Austell, GA 30168 (by Six Flags Dr / Thornton Rd) </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="frame"><img src="{% static 'images/about-img-7.jpg' %}" alt="img"></div>
        </div>
      </div>
    </section>
    
    <!--SERVICES SECTION START-->
    <section class="services-section-style-1">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="services-box-style-1">
              <div class="holder"> <span class="icon-christ-the-redemeer"></span>
                <h3><a href="blog-detail.html">Worship Schedule</a></h3>
                <p>Sunday Service: 10:00am - 12:30pm
Friday Prayer Meeting: 7:00pm - 8:00pm </p>
                <a href="blog-detail.html" class="readmore">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
              <div class="thumb"><img src="{% static 'images/services-img-1.png' %}" alt="img"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="services-box-style-1">
              <div class="holder"> <span class="icon-holy-bible"></span>
                <h3><a href="blog-detail.html">Mission and Vision</a></h3>
                <p>Reaching the lost with the message of love, acceptance and victory through Jesus Christ; helping the believers discover their value and potential in God; equipping them to effectively reach others. </p>
                <a href="blog-detail.html" class="readmore">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
              <div class="thumb"><img src="{% static 'images/services-img-1.png' %}" alt="img"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="services-box-style-1">
              <div class="holder"> <span class="icon-praying-hands"></span>
                <h3><a href="blog-detail.html">Statement of Faith</a></h3>
                <p>Victory Tabernacle International Ministries Inc. shall uphold the following doctrinal truths which are consistent with the teachings of the Bible and have stood the test of history and experience. </p>
                <a href="blog-detail.html" class="readmore">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
              <div class="thumb"><img src="{% static 'images/services-img-1.png' %}" alt="img"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--SERVICES SECTION END--> 
    <!--SERMONS SECTION START-->
    <section class="sermons-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="heading-left">
              <h2>Sermons library</h2>
              <span>Listen Our Sermons</span> </div>
            <a href="#" class="btn-all">View All</a>
            <div class="sermon-box">
              <div class="round-frame"><img src="{% static 'images/sermon-img-1.jpg' %}" alt="img"></div>
              <div class="holder"> <a href="#" class="btn-play"><span class="icon-play-button"></span></a>
                <div class="text-box"> <a href="sermons-detail.html" class="title">Join us throughout the week</a> <b>6/26 S/2016 . Speaker: Pastor Johan Doe</b> </div>
              </div>
              <div class="holder-hover-1">
                <h3><a href="sermons-detail.html">Have Faith. Trust in Lord and He Guide You</a></h3>
                <strong class="title">6/26/2016 / Speaker: Pastor John Doe</strong>
                <div class="mp3-player-box">
                  <audio preload="auto" controls>
                    <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
                    <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
                    <source src="audio/BlueDucks_FourFlossFiveSix.wav">
                  </audio>
                </div>
              </div>
            </div>
            <div class="sermon-box">
              <div class="round-frame"><img src="{% static 'images/sermon-img-2.jpg' %}" alt="img"></div>
              <div class="holder"> <a href="#" class="btn-play"><span class="icon-play-button"></span></a>
                <div class="text-box"> <a href="sermons-detail.html" class="title">Have Faith. Trust in Lord and He</a> <b>6/26 S/2016 . Speaker: Pastor Johan Doe</b> </div>
              </div>
              <div class="holder-hover-1">
                <h3><a href="sermons-detail.html">Have Faith. Trust in Lord and He Guide You</a></h3>
                <strong class="title">6/26/2016 / Speaker: Pastor John Doe</strong>
                <div class="mp3-player-box">
                  <audio preload="auto" controls>
                    <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
                    <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
                    <source src="audio/BlueDucks_FourFlossFiveSix.wav">
                  </audio>
                </div>
              </div>
            </div>
            <div class="sermon-box">
              <div class="round-frame"><img src="{% static 'images/sermon-img-3.jpg' %}" alt="img"></div>
              <div class="holder"> <a href="#" class="btn-play"><span class="icon-play-button"></span></a>
                <div class="text-box"> <a href="sermons-detail.html" class="title">God’s Design For Marriage</a> <b>6/26 S/2016 . Speaker: Pastor Johan Doe</b> </div>
              </div>
              <div class="holder-hover-1">
                <h3><a href="sermons-detail.html">Have Faith. Trust in Lord and He Guide You</a></h3>
                <strong class="title">6/26/2016 / Speaker: Pastor John Doe</strong>
                <div class="mp3-player-box">
                  <audio preload="auto" controls>
                    <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
                    <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
                    <source src="audio/BlueDucks_FourFlossFiveSix.wav">
                  </audio>
                </div>
              </div>
            </div>
            <div class="sermon-box">
              <div class="round-frame"><img src="{% static 'images/sermon-img-4.jpg' %}" alt="img"></div>
              <div class="holder"> <a href="#" class="btn-play"><span class="icon-play-button"></span></a>
                <div class="text-box"> <a href="sermons-detail.html" class="title">Holy Spirit: Strategic Thinking</a> <b>6/26 S/2016 . Speaker: Pastor Johan Doe</b> </div>
              </div>
              <div class="holder-hover-1">
                <h3><a href="sermons-detail.html">Have Faith. Trust in Lord and He Guide You</a></h3>
                <strong class="title">6/26/2016 / Speaker: Pastor John Doe</strong>
                <div class="mp3-player-box">
                  <audio preload="auto" controls>
                    <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
                    <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
                    <source src="audio/BlueDucks_FourFlossFiveSix.wav">
                  </audio>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="heading-left">
              <h2>OUR PASTORS</h2>
            </div>
            <div class="store-box">
              <div class="store-banner owl-carousel owl-theme">
                <div class="item">
                  <div class="customer-social">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="left-box"> <strong class="title">Christian D’Appie</strong> <span>SENIOR PASTOR</span> </div>
                  <div class="thumb"><img src="{% static 'images/customer-say-img-1.jpg' %}" alt="img"></div>
                  <div class="text-box">
                    <blockquote>“Have Faith. Trust in the Lord
                      and He Shall Guide You”</blockquote>
                    <p>Aenean arcu tortor, suscipit vitae, hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.Aenean arcu tortor, suscipit vitae, hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  </div>
                </div>
                <div class="item">
                  <div class="customer-social">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="left-box"> <strong class="title">Christian D’Appie</strong> <span>SENIOR PASTOR</span> </div>
                  <div class="thumb"><img src="{% static 'images/customer-say-img-1.jpg' %}" alt="img"></div>
                  <div class="text-box">
                    <blockquote>“Have Faith. Trust in the Lord
                      and He Shall Guide You”</blockquote>
                    <p>Aenean arcu tortor, suscipit vitae, hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.Aenean arcu tortor, suscipit vitae, hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--SERMONS SECTION END--> 
    <!--ABOUT PAGE END--> 
  </div>
  
  
{% endblock %}