{% extends "components/Main.html" %}
{% load static %}
{% block content %}
<!--INNER BANNER START-->
<div id="inner-banner">
    <div class="container">
      <div class="inner-banner-heading">
        <h1>events</h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">events</li>
        </ol>
      </div>
    </div>
  </div>
  <!--INNER BANNER END-->
  
  <div id="main"> 
    <!--EVENT GRID START-->
    <section class="event-grid event-box">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">Single Life Workshop.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">Join us throughout.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">School of the Prophet.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">Women’s Conference.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">Join us throughout.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">Kingdom Culture.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html"> Business Hearing.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">Love After Marriage.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-grid-box">
              <div class="text-box">
                <div class="defaultCountdown"></div>
                <h3><a href="event-detail.html">Summer 2016 Church.</a></h3>
                <span>Saturday, 10:00 am  State Route </span>
                <p>Maecenas porttitor neque eu sem nullam lectus neque, blandit quis mattis quis varius eu eros. Vivamus ads metus auris at tellus at sapien.</p>
                <ul class="social">
                  <li><a href="#"><span class="icon-compass"></span></a></li>
                  <li><a href="#"><span class="icon-share-button-outline"></span></a></li>
                  <li><a href="#"><span class="icon-closed-envelope"></span></a></li>
                </ul>
                <div class="btn-row"><a href="event-detail.html" class="btn-style-1">See full Detail</a></div>
              </div>
            </div>
          </div>
        </div>
        <!--PAGINATION START-->
        <div class="pagination-box">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous </span> </a> </li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">....</a></li>
              <li> <a href="#" aria-label="Next"> <span aria-hidden="true">Next</span> </a> </li>
            </ul>
          </nav>
        </div>
        <!--PAGINATION END--> 
      </div>
    </section>
    <!--EVENT GRID END--> 
  </div>
  
{% endblock %}