{% extends "components/Main.html" %}
{% load static %}
{% block content %}
  <!--INNER BANNER START-->
  <div id="inner-banner">
    <div class="container">
      <div class="inner-banner-heading">
        <h1>ministries</h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">ministries</li>
        </ol>
      </div>
    </div>
  </div>
  <!--INNER BANNER END-->
  
  <div id="main">
    <section class="ministry-section"> 
      <!--Children SECTION START-->
      <section class="home-blog theme-style-3 ministry-page">
        <div class="container">
          <div class="heading-left">
            <h2>Children's Ministry</h2>
            <span>WE LIVE TO PRAISE HIM</span> <a href="#" class="btn-all">View All pOSTS</a> </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-4.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="childrens-ministry-detail.html" class="title">The Lord, GOD Of Our Lifes</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-1.jpg' %}" alt="img"></div>
                  <strong class="name">Rona Thanki</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-5.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="childrens-ministry-detail.html" class="title">Children's Ministry Deals</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-2.jpg' %}" alt="img"></div>
                  <strong class="name">Jeena Kate</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-7.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="childrens-ministry-detail.html" class="title">Jesus Covers All Our Sins</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-3.jpg' %}" alt="img"></div>
                  <strong class="name">David Issiq</strong> </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Children SECTION END--> 
      
      <!--Youth SECTION START-->
      <section class="home-blog theme-style-3 ministry-page">
        <div class="container">
          <div class="heading-left">
            <h2>VICTORY YOUTH FELLOWSHIP</h2>
            <span>WE LIVE TO PRAISE HIM</span> <a href="#" class="btn-all">View All pOSTS</a> </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-12.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="youth-ministry-detail.html" class="title">We Unknowingly Hurt 
                  Women in</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-1.jpg' %}" alt="img"></div>
                  <strong class="name">Rona Thanki</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-11.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="youth-ministry-detail.html" class="title">A Youth Ministry From Scratch</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-2.jpg' %}" alt="img"></div>
                  <strong class="name">Jeena Kate</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-10.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="youth-ministry-detail.html" class="title">Practical advice 
                  the new youth </a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-3.jpg' %}" alt="img"></div>
                  <strong class="name">David Issiq</strong> </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Youth SECTION END--> 
      
      <!--senior’s SECTION START-->
      <section class="home-blog theme-style-3 ministry-page">
        <div class="container">
          <div class="heading-left">
            <h2>WOMEN'S FELLOWSHIP</h2>
            <span>WE LIVE TO PRAISE HIM</span> <a href="#" class="btn-all">View All pOSTS</a> </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-13.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="senior-ministry-detail.html" class="title">The Lord, GOD Of Our Lifes</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-1.jpg' %}" alt="img"></div>
                  <strong class="name">Rona Thanki</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-14.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="senior-ministry-detail.html" class="title">Reaching Kids Education</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-2.jpg' %}" alt="img"></div>
                  <strong class="name">Jeena Kate</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-15.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="senior-ministry-detail.html" class="title">Twelve ways to minister elderly. </a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-3.jpg' %}" alt="img"></div>
                  <strong class="name">David Issiq</strong> </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--senior’s SECTION END--> 
      
      <!--Wedding’s SECTION START-->
      <section class="home-blog theme-style-3 ministry-page">
        <div class="container">
          <div class="heading-left">
            <h2>MEN'S FELLOWSHIP</h2>
            <span>WE LIVE TO PRAISE HIM</span> <a href="#" class="btn-all">View All pOSTS</a> </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-16.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="wedding-ministry-detail.html" class="title">The Lord, GOD Of Our Lifes</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-1.jpg' %}" alt="img"></div>
                  <strong class="name">Rona Thanki</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-17.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="wedding-ministry-detail.html" class="title">Reaching Kids Education</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-2.jpg' %}" alt="img"></div>
                  <strong class="name">Jeena Kate</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-18.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="wedding-ministry-detail.html" class="title">Service Day: A Family Affair!</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-3.jpg' %}" alt="img"></div>
                  <strong class="name">David Issiq</strong> </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Wedding’s SECTION END--> 
      
      <!--Family  SECTION START-->
      <section class="home-blog theme-style-3 ministry-page padd-btm-100">
        <div class="container">
          <div class="heading-left">
            <h2>PRAISE TEAM</h2>
            <span>WE LIVE TO PRAISE HIM</span> <a href="#" class="btn-all">View All pOSTS</a> </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-13.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="family-ministry-detail.html" class="title">The Lord, GOD Of Our Lifes</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-1.jpg' %}" alt="img"></div>
                  <strong class="name">Rona Thanki</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-20.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="family-ministry-detail.html" class="title">Reaching Kids Education</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-2.jpg' %}" alt="img"></div>
                  <strong class="name">Jeena Kate</strong> </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="blog-box-outer">
                <div class="frame"><img src="{% static 'images/blog-style-2-img-21.jpg' %}" alt="img"></div>
                <div class="blog-style-1"> <a href="family-ministry-detail.html" class="title">Service Day: A Family Affair!</a> <span>6/26 S/2016</span>
                  <p>hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit amet justo consectetuer adipiscing elit.</p>
                  <div class="round-frame"><img src="{% static 'images/blog-style-1-img-3.jpg' %}" alt="img"></div>
                  <strong class="name">David Issiq</strong> </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Family SECTION END--> 
    </section>
  </div>
{% endblock %}