{% extends "components/Main.html" %}
{% load static %}
{% block content %}
<div id="wrapper">
  <!--INNER BANNER START-->
  <div id="inner-banner">
    <div class="container">
      <div class="inner-banner-heading">
        <h1>sermons box</h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">sermons box</li>
        </ol>
      </div>
    </div>
  </div>
  <!--INNER BANNER END-->
  
  <div id="main"> 
    <!--RECENT SERMONS SECTION START-->
    <section class="recent-sermons sermons-section">
      <div class="container">
        <div class="filter-row">
          <div class="select-box">
            <label>Speakers :<span class="icon-user-silhouette"></span></label>
            <div class="selector">
              <select class="full-width">
                <option value="1">All</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <div class="select-box">
            <label>Topic<span class="icon-text-document"></span></label>
            <div class="selector">
              <select class="full-width">
                <option value="1">All</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <div class="select-box">
            <label>Books<span class="icon-bible"></span></label>
            <div class="selector">
              <select class="full-width">
                <option value="1">All</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <div class="select-box">
            <label>Series<span class="icon-two-folded-files"></span></label>
            <div class="selector">
              <select class="full-width">
                <option value="1">All</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <a href="#" class="btn-style-1">filter</a> </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-favorite"></span></div>
              <div class="text-box">
                <h3><a href="sermons-detail.html">Chronicles 16:11</a> </h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"> <span class="icon-bell-ringing"></span> </div>
              <div class="text-box">
                <h3><a href="sermons-detail.html">Call to worship 14:02</a></h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-bible"></span> </div>
              <div class="text-box">
                <h3><a href="sermons-detail.html">Open bible study 12:09</a></h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-bible"></span> </div>
              <div class="text-box">
                <h3><a href="sermons-detail.html">Read Bible 12:18</a> </h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-speaker"></span> </div>
              <div class="text-box">
                <h3> <a href="sermons-detail.html">Religious Warning  09:16</a></h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-orthodox"></span> </div>
              <div class="text-box">
                <h3><a href="sermons-detail.html">Way You Live 12:09</a></h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-headphones"></span> </div>
              <div class="text-box">
                <h3><a href="sermons-detail.html">Walking  To Faith 14:06</a></h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-voice"></span> </div>
              <div class="text-box">
                <h3> <a href="sermons-detail.html">Spiritual Renewal 03:09</a></h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="outer">
              <div class="round-box"><span class="icon-priest"></span> </div>
              <div class="text-box">
                <h3> <a href="sermons-detail.html">Life of Christ 06:01</a></h3>
                <p>Seek the LORD and his strength Mauris at tellus at sapien seek his presenceMauris at tellus at sapien continually!</p>
                <div class="links">
                  <ul>
                    <li><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--PAGINATION START-->
        <div class="pagination-box">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous </span> </a> </li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">....</a></li>
              <li> <a href="#" aria-label="Next"> <span aria-hidden="true">Next</span> </a> </li>
            </ul>
          </nav>
        </div>
        <!--PAGINATION END--> 
      </div>
    </section>
    <!--RECENT SERMONS SECTION END--> 
</div>
</div>
{% endblock %}